


h1{
color: crimson;
text-align: center;

}
h2{
color: darkviolet;
}

strong{
color: aliceblue;


}

.banner {
width: 100%;

}
.beneficios {
background:#ffffff ;
padding: 20px;

}

.imagembenefícios {
width: 50%;

}
.principal{
 background-color: #CCCCCC;   
 padding: 30px
}
.titulocentralizado{
 text-align: center;
}
ul{
display: block;
}